exportPattern("^[[:alpha:]]+")
importFrom("utils", "head")
import(ggplot2)
import(e1071)
import(readr)
import(parallel)
importFrom('parallel', 'detectCores')
import(textclean)
import(tidyr)
import(forcats)
import(tm)
import(SnowballC)
import(keras)
importFrom(dplyr, '%>%')
import(FNN)
import(beepr)
import(data.table)
import(fastmatch)
import(stringi)

