exportPattern("^[[:alpha:]]+")
importFrom("utils", "head")
importFrom("utils", "installed.packages")
importFrom("ggplot2", "ggplot")
importFrom("ggplot2", "geom_text")
importFrom("ggplot2", "geom_bar")
importFrom("ggplot2", "ylab")
importFrom("ggplot2", "ggtitle")
importFrom("ggplot2", "theme")
import(readr)
importFrom('parallel', 'detectCores')
importFrom('parallel', 'mclapply')
importFrom('tm', 'stemDocument')
importFrom(keras, 'layer_dense')
importFrom(keras, 'compile')
importFrom(keras, 'keras_model_sequential')
importFrom(keras, 'layer_activation_leaky_relu')
importFrom(keras, 'layer_dropout')
importFrom(keras, 'optimizer_adam')
importFrom(keras, 'predict_proba')
importFrom(keras, 'to_categorical')
importFrom(keras, 'fit')
importFrom(dplyr, '%>%')
importFrom('FNN', 'get.knnx')
import(beepr)
importFrom('stringi', 'stri_extract_all_words')
importFrom('dplyr', 'filter')
importFrom('dplyr', 'sample_n')
importFrom('neuralnet', 'neuralnet')
importFrom("stats", "predict")
